:root {
    /* Color styles */
    --white: #FFFFFF;
    --grey: #F3F3F3;
    --black: #333333;
    --pink: #FF9ED1;
    --green: #0BF40B;
    --yellow: #FFE000;
    --blue: #41AFFF;

    /* Text-size styles */
    /* Base size: body (24px) */
    --h1: 3.75rem;
    --h2: 3rem;
    --h3: 2.25rem;
    --menu: 1rem;
    --body: 1.5rem;
    --body-strong: 1.5rem;
    --button: 1.25rem;
    --h4: 1.88rem;

    

    /* Font-family style */
    --font-nunito: 'Nunito', sans-serif;
    --font-outfit: 'Outfit', sans-serif;
}