.hero__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--grey);
    margin-left: -12.5em;
    margin-right: -12.5em;
    margin-bottom: 50px;
    align-content: center;
    padding: 1.5em 0em 1.5em 0em;
}

.hero__text {
    align-self: center;
    margin-left: 12.5em;
    width: 40em;
}

.hero__button {
    display: flex;
    font-family: var(--font-nunito);
    font-size: var(--button);
    padding: 0.938em 3.125em 0.938em 3.125em;
    justify-content: center;
    margin: auto;
    margin-top: 50px;
    color: var(--white);
    background: linear-gradient(180deg, #4176FF 0%, #4198FF 50%, #41AFFF 100%);
    border: none;
}